<div class="container">
  <div class="row">
    <div class="col">
      <h1>Material Icons</h1>
      <hr>

    </div>
  </div>
  <!-- Edit -->
  <div class="container">
    <div class="row">
      <div class="col">
        <ani-mat-edit></ani-mat-edit>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col">
        <manicon-thumbs-up></manicon-thumbs-up>
      </div>
    </div>
  </div>  
  <hr>
  <div class="container">
    <div class="row">
      <div class="col">
        <ani-mat-clock></ani-mat-clock>
      </div>
    </div>
  </div>  
</div>