<div class="container-fluid">
    <h1 class="pt-5">Base Components: UI</h1>
    <hr>
    <div class="row" style="color: blue;">
        <div class="col">
            <gcon-menu [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-menu>
        </div>
        <div class="col">
            <gcon-moon [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-moon>
        </div>
        <div class="col">
            <gcon-minimize [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-minimize>
        </div>
        <div class="col">
            <gcon-layers [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-layers>
        </div>
        <div class="col">
            <gcon-printer [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-printer>
        </div>
    </div>
    <h1 class="pt-5">Base Components: Directions</h1>
    <hr>
    <div class="row" style="color: red;">
        <div class="col">
            <gcon-chevron [doubleChevron]="true" [chevronDirection]="'up'" [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-chevron>
        </div>
        <div class="col">
            <gcon-rotate [rotateClockWise]="true" [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-rotate>
        </div>
        <div class="col">
            <gcon-corner [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-corner>
        </div>
    </div>
</div>