<div class="container-fluid">
    
    <h1>NEW</h1>
    <hr>
    <div class="row" style="color: blue;">
        <div class="col">
            <gcon-arrow [isCircle]="true" [arrowDirection]="'down-left'" [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-arrow>
        </div>
         <div class="col">
            <gcon-at-sign [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-at-sign>
        </div>
       <div class="col">
            <gcon-aperture [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-aperture>
        </div>
       <!--  <div class="col">
            <gcon-alert [shape]="'triangle'" [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'">
            </gcon-alert>
        </div>
        <div class="col">
            <gcon-anchor [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'">
            </gcon-anchor>
        </div> -->
    </div>
    <h1 class="pt-5">NEW-ish</h1>
    <hr>
    <div class="row" style="color: rgb(68, 68, 142);">
        <div class="col">
            <gcon-align [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-align>
        </div>
        <div class="col">
            <gcon-activity [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-activity>
        </div>
        <div class="col">
            <gcon-airplay [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-airplay>
        </div>
        <div class="col">
            <gcon-alert [shape]="'triangle'" [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'">
            </gcon-alert>
        </div>
        <div class="col">
            <gcon-anchor [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'">
            </gcon-anchor>
        </div>
    </div>


    <h1 class="pt-5">Base Components: UI</h1>
    <hr>
    <div class="row">
        <div class="col">
            <gcon-menu [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-menu>
        </div>

        <div class="col">
            <gcon-minimize [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-minimize>
        </div>
        <div class="col">
            <gcon-layers [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-layers>
        </div>
        <div class="col">
            <gcon-printer [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-printer>
        </div>
    </div>
    <h1 class="pt-5">Base Components: Directions</h1>
    <hr>
    <div class="row">
        <div class="col">
            <gcon-chevron [doubleChevron]="true" [chevronDirection]="'up'" [dimension]="30" [strokeWidth]="2"
                [animationAction]="'hover'"></gcon-chevron>
        </div>
        <div class="col">
            <gcon-rotate [rotateClockWise]="true" [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'">
            </gcon-rotate>
        </div>
        <div class="col">
            <gcon-corner [turn]="'up'" [direction]="'left'" [dimension]="30" [strokeWidth]="2"
                [animationAction]="'hover'"></gcon-corner>
        </div>
    </div>

    <h1 class="pt-5">Base Components: Weather</h1>
    <hr>
    <div class="row">
        <div class="col">
            <gcon-thunder-storm [dimension]="30" [isRaining]="true" [strokeWidth]="2" [animationAction]="'hover'">
            </gcon-thunder-storm>
        </div>
        <div class="col">
            <gcon-rain [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'">
            </gcon-rain>
        </div>
        <div class="col">
            <gcon-overcast-sun [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-overcast-sun>
        </div>
        <div class="col">
            <gcon-overcast [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-overcast>
        </div>

    </div>
    <div class="row pt-3">
        <div class="col">
            <gcon-sun [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-sun>
        </div>
        <div class="col">
            <gcon-moon [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-moon>
        </div>
        <div class="col">
            <gcon-heavy-rain [dimension]="30" [strokeWidth]="2" [animationAction]="'hover'"></gcon-heavy-rain>
        </div>
    </div>
</div>