<div class="icon-wrapper-r">
  <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg" [ngClass]="{'ani-snow-onload': aniOnload, 'ani-snow-hover': aniHover}">
      <path id="overcast-main-cloud" [ngStyle]="{'stroke': iconColor, 'stroke-width': cloudStroke}"
          d="M21 16.58C23.1667 15.631 24.372 13.2936 23.8886 10.9782C23.4052 8.6627 21.3654 7.00277 19 6.99998H17.74C16.8696 3.62944 13.9195 1.20864 10.4439 1.01293C6.96829 0.817214 3.76507 2.89151 2.52177 6.14304C1.27847 9.39456 2.28053 13.0768 5.00003 15.25"
          stroke-linecap="round" stroke-linejoin="round" />
      <!-- first row -->
      <path id="first-snow" d="M9 22V22.1" [ngStyle]="{'stroke': iconColor, 'stroke-width': rainStroke}" stroke-linecap="round"
          stroke-linejoin="round" />
      <path id="second-snow" d="M9 16V16.1" [ngStyle]="{'stroke': iconColor, 'stroke-width': rainStroke}" stroke-linecap="round" stroke-linejoin="round" />
      <path id="third-snow" d="M9 19V19.1" [ngStyle]="{'stroke': iconColor, 'stroke-width': rainStroke}" stroke-linecap="round" stroke-linejoin="round" />
      <!-- second row -->
      <path id="third-snow" d="M13 16V16.1" [ngStyle]="{'stroke': iconColor, 'stroke-width': rainStroke}" stroke-linecap="round" stroke-linejoin="round" />
      <path id="first-snow" d="M13 22V22.1" [ngStyle]="{'stroke': iconColor, 'stroke-width': rainStroke}" stroke-linecap="round" stroke-linejoin="round" />            
      <path id="second-snow" d="M13 19V19.1" [ngStyle]="{'stroke': iconColor, 'stroke-width': rainStroke}" stroke-linecap="round" stroke-linejoin="round" />
    <!-- third row -->
      <path id="second-snow" d="M17 19V19.1" [ngStyle]="{'stroke': iconColor, 'stroke-width': rainStroke}" stroke-linecap="round" stroke-linejoin="round" />
      <path id="third-snow" d="M17 22V22.1" [ngStyle]="{'stroke': iconColor, 'stroke-width': rainStroke}" stroke-linecap="round" stroke-linejoin="round" />
      <path id="first-snow" d="M17 16V16.1" [ngStyle]="{'stroke': iconColor, 'stroke-width': rainStroke}" stroke-linecap="round" stroke-linejoin="round" />
      
  </svg>


</div>