<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="kli-logo" (click)="routeTo('')">
      <svg width="44" height="42" viewBox="0 0 44 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M29.6661 40.5692L29.8125 40.7157H30.0196H41H42.2289L41.3491 39.8577L38.3732 36.9559L38.2276 36.8139H38.0242H36.9611H35.7856L36.6009 37.6607L37.8244 38.9314H30.5398L14.5389 22.9679L37.0717 1.36089L37.9695 0.5H36.7256H26.4902H26.2826L26.1361 0.64701L2.28431 24.5748V6.9902H9.91176V9.62745V10.8346L10.7653 9.981L11.5496 9.19669L11.6961 9.05024V8.84314V5.70588V5.20588H11.1961H1H0.5V5.70588V27.6667V28.8738L1.35355 28.0202L27.0895 2.28431H33.4867L12.4176 22.6009L12.0511 22.9543L12.4112 23.3143L29.6661 40.5692Z"
          fill="white" stroke="white" stroke-width="2" />
      </svg>

    </div>
    <span>Klicons</span>
    <span class="nav-spacer"></span>
    <!-- 
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> 
  -->

    <small>{{ title }} app is running</small>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="routeTo('gcon')">
        gcon
      </button>
      <button mat-menu-item (click)="routeTo('gen-wel')">
        gen-welcome
      </button>
      <button mat-menu-item (click)="routeTo('covid')">
        covid
      </button>
      <button mat-menu-item (click)="routeTo('mat')">
        mat
      </button>
      <button mat-menu-item (click)="routeTo('feather')">
        feather
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>