svg {
    overflow: visible;
    &:hover {
        #hand {
            animation-name: thumbs-up;
        }
        
        #sleeve {
            animation-name: sleeve-up;
            
        }
    }
}

#hand {
    d: path("M184 53.65H127.21L143 28C145 24.5 145 19 143.27 14.5L137.27 3.75146L63.31 49.9805C59.98 53.2025 58 57.6775 58 62.6V152.1C58 161.945 66.1 170 76 170H157C164.47 170 170.86 165.525 173.56 159.081L200.74 95.9835C201.55 93.925 202 91.777 202 89.45V71.55C202 61.705 193.9 53.65 184 53.65Z");
}

#sleeve {
    d: path("M4 75H40V183H4V75Z");
    transform: translateY(-20px);
}

#hand,
#sleeve {
    animation-delay: 0s;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes thumbs-up {
    0% {
        transform: rotate(0deg);
        d: path("M184 53.65H127.21L143 28C145 24.5 145 19 143.27 14.5L137.27 3.75146L63.31 49.9805C59.98 53.2025 58 57.6775 58 62.6V152.1C58 161.945 66.1 170 76 170H157C164.47 170 170.86 165.525 173.56 159.081L200.74 95.9835C201.55 93.925 202 91.777 202 89.45V71.55C202 61.705 193.9 53.65 184 53.65Z");
    }

    35% {
        transform: rotate(5deg);
        d: path("M185 40.8985H128.21L142 31.5C151 25 149 17.5 146.5 11L143.5 3.75146L64.31 37.229C60.98 40.451 59 44.926 59 49.8485V139.348C59 149.193 67.1 157.248 77 157.248H158C165.47 157.248 171.86 152.773 174.56 146.329L201.74 83.232C202.55 81.1735 203 79.0255 203 76.6985V58.7985C203 48.9535 194.9 40.8985 185 40.8985Z");
    }

    75% {
        transform: rotate(5deg);
        d: path("M185 40.8985H128.21L142 31.5C151 25 149 17.5 146.5 11L143.5 3.75146L64.31 37.229C60.98 40.451 59 44.926 59 49.8485V139.348C59 149.193 67.1 157.248 77 157.248H158C165.47 157.248 171.86 152.773 174.56 146.329L201.74 83.232C202.55 81.1735 203 79.0255 203 76.6985V58.7985C203 48.9535 194.9 40.8985 185 40.8985Z");
    }

    

    100% {
        transform: rotate(0deg);
        d: path("M184 53.65H127.21L143 28C145 24.5 145 19 143.27 14.5L137.27 3.75146L63.31 49.9805C59.98 53.2025 58 57.6775 58 62.6V152.1C58 161.945 66.1 170 76 170H157C164.47 170 170.86 165.525 173.56 159.081L200.74 95.9835C201.55 93.925 202 91.777 202 89.45V71.55C202 61.705 193.9 53.65 184 53.65Z");

    }



}

@keyframes sleeve-up {
    0% {
        transform: rotate(0deg) translateY(-20px);
    }

    35% {
        transform: rotate(5deg) translateY(-40px);

    }

    75% {
        transform: rotate(5deg) translateY(-40px);

    }

    100% {
        transform: rotate(0deg) translateY(-20px);
    }

}