<div class="conatiner">


  <div class="row">
    <div class="col">
      <!-- Rain Cloud -->
      <label for="">Rain Cloud</label>
      <feather-rain 
      [strokeWidth]="3" 
      [animationAction]="'hover'"
      ></feather-rain>
    </div>
    <div class="col">
      <!-- Heavy Rain Cloud -->
      <label for="">Heavy Rain Cloud</label>
      <feather-heavy-rain
      [strokeWidth]="2" 
      [animationAction]="'hover'"
      ></feather-heavy-rain>
      
      
    </div>
    <div class="col">
      <!-- Heavy Rain Cloud -->
      <label for="">Snow Cloud</label>
      <feather-snow
      [strokeWidth]="2" 
      [animationAction]="'hover'"
      ></feather-snow>
      
      
    </div>
  </div>

  


</div>