// Edit
#edit {
    overflow: visible;
}

#edit:hover {
    #pen {
        animation: pen-draw;
        animation-delay: 0.25s;
        animation-duration: 2s;
    }

    #line {
        animation: line-ani;
        animation-delay: 0s;
        animation-duration: 2s;
    }

    #line2 {
        animation: line-ani-2;
        animation-delay: 0s;
        animation-duration: 2s;
    }
}

#line2 {
    opacity: 0;
}

#line {
    stroke-dasharray: 102px;
    stroke-dashoffset: 100px;
    stroke-width: 0;
    transform: scaleX(-1) translateX(-100px);
}

#pen,
#line,
#line2 {
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes line-ani-2 {
    0% {
        opacity: 0;
    }

    59% {
        opacity: 0;
    }

    60% {
        opacity: 1;

    }

    90% {
        transform: scaleX(1);
        opacity: 1;
    }

    100% {

        opacity: 1;
        transform: scaleX(0);
    }
}

@keyframes line-ani {
    0% {
        stroke-dasharray: 100px;
        stroke-width: 0;
    }

    50% {
        stroke-dasharray: 100px;
        stroke-width: 0;
    }

    60% {
        stroke-dasharray: 200px;
        stroke-width: 8;
        opacity: 1;
    }

    65% {
        opacity: 0;
    }

    100% {
        stroke-dasharray: 200px;
        stroke-width: 8;
        opacity: 0;
    }
}

@keyframes pen-draw {
    10% {
        transform: translateY(15px) rotate(-60deg);
    }

    15% {
        transform: translateX(15px) translateY(50px) rotate(-60deg);
    }

    35% {

        transform: translateX(15px) translateY(45px) rotate(-60deg);
    }

    50% {
        transform: translateX(10px) translateY(-10px) rotate(10deg);
    }

    80% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }


}