<div class="conatiner">
  <h1>Chevrons</h1>

  <div class="row">
    <div class="col">
      <label for="">Chervon</label>
      <gcon-sun [strokeWidth]="2" [animationAction]="'hover'"></gcon-sun>
    </div>
  </div>
<hr>
  <div class="row">
    <div class="col">
      <!-- Rain Cloud -->
      <label for="">Chervon</label>
      <gcon-chevron [strokeWidth]="2" [animationAction]="'hover'" [chevronDirection]="'up'" [double]="false">
      </gcon-chevron>
    </div>
    <div class="col">
      <!-- Rotate -->
      <label for="">Rotate</label>
      <garicon-rotate [strokeWidth]="2" [animationAction]="'hover'" [clockWise]="true"></garicon-rotate>
    </div>
    <div class="col">
      <!-- Menu -->
      <label for="">Menu</label>
      <garicon-menu [strokeWidth]="2" [animationAction]="'hover'"></garicon-menu>
    </div>
    <!-- <div class="col">
      <label for="">Funky Menu</label>
      <garicon-funky-menu [strokeWidth]="2" [animationAction]="'hover'"></garicon-funky-menu>
    </div> -->
  </div>
  <div class="row">
    <div class="col">
      <!-- Rain Cloud -->
      <label for="">Printer</label>
      <garicon-printer [strokeWidth]="1" [animationAction]="'hover'">
      </garicon-printer>
    </div>
    <div class="col">
      <!-- Rain Cloud -->
      <label for="">Layers</label>
      <garicon-layers [strokeWidth]="2" [animationAction]="'hover'">
      </garicon-layers>
    </div>
    <div class="col">
      <!-- Rain Cloud -->
      <label for="">Minimize</label>
      <garicon-minimize [strokeWidth]="2" [animationAction]="'hover'">
      </garicon-minimize>
    </div>
  </div>
</div>